@media all and (min-width: 480px) {
    .Login, .Registro {
      padding: 60px 0;
      margin: 0 auto;
      max-width: 320px;
    }

    .imgSize{
      width: 10rem !important; /*override the width below*/
      width: 10rem;
      
      max-width: 100%;
    }
}

.space-align-container {
  display: flex;
  align-item: flex-start;
  flex-wrap: wrap;
}
.space-align-block {
  margin: 8px 4px;
  padding: 4px;
  flex: none;
}

.border-green {
  border-style: solid;
  border-color: green;
  border-radius: 5px;
  padding: 0%;
  margin: 5% auto;
  -webkit-box-shadow: -1px 1px 16px -2px rgba(97,97,97,1);
  -moz-box-shadow: -1px 1px 16px -2px rgba(97,97,97,1);
  box-shadow: -1px 1px 16px -2px rgba(97,97,97,1);
}
.img-holder {
  position: relative;
}
.login-form{
  padding-left: 5%;
  padding-right: 5%;
}
